.font-rg {
    font-family: 'Rubik Gemstones', sans-serif;
}

.font-ar {
    font-family: 'AR One Sans', sans-serif;
}

.font-ws {
    font-family: 'Work Sans', sans-serif;
}

.font-ab {
    font-family: 'Archivo Black', sans-serif;
}

