
  @keyframes bounce {

      0%,
      100% {
          transform: translateY(0) rotate(var(--tw-rotate, 0)) translateX(var(--tw-translate-x, 0));
      }

      50% {
          transform: translateY(-10px) rotate(var(--tw-rotate, 0)) translateX(var(--tw-translate-x, 0));
      }
  }

  .animate-bounce-custom {
      animation: bounce 1s infinite ease-in-out;
  }